################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/obedar/v16/.suo
/.vs/obedar/config/applicationhost.config
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/obedar/FileContentIndex/7eb54870-e882-4426-b697-199d51b51ad0.vsidx
/.vs/obedar/FileContentIndex/98dabaf1-1023-4d0e-8797-f2b376fceb6c.vsidx
/.vs/obedar/v17
*.vsidx
