################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/obedar/v16/.suo
/.vs/obedar/config/applicationhost.config
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
